{% load static%}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fábrica de Gênios THE</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static "css/full-slider.css" %}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Fábrica de Gênios THE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Sobre nós</a>
                        <!-- <a class="nav-link" href="#">Sobre nós</a> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Serviços</a>
                        <!-- <a class="nav-link" href="#">Serviços</a> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contatos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('https://cdn.wallpapersafari.com/83/48/qf8H12.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Cursos e Treinamentos</h3>
                        <p>This is a description for the first slide.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://www.firstsun.com/wp-content/uploads/2016/03/Free-Man-at-Laptop.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Pesquisas Científicas</h3>
                        <p>This is a description for the second slide.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://cdn.pixabay.com/photo/2015/09/28/22/48/computer-962971_960_720.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Startup</h3>
                        <p>This is a description for the third slide.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5" id="about">
        <br>
        <div class="container" id="about">
            <h1>Fábrica de Gênios THE</h1>
            <p>Startup com o objetivo em três vertentes: Cursos e treinamentos, Pesquisas Científicas e Startup na área de automação e robótica.</p>
            <hr>
        </div>
    </section>
    
    <section class="py-5" id="services">
        <br>
    <!-- Page Features -->
        <div class="container">
            <h1>Serviços</h1>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1493934558415-9d19f0b2b4d2?ixlib=rb-0.3.5&s=c839b81e8456136cc1cb65eab9329c99&w=1000&q=80" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Cursos e treinamentos</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://png.pngtree.com/thumb_back/fw800/back_pic/03/95/05/3957eb9196dc086.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Pesquisa Científica</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae
                                culpa natus architecto.</p>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="https://www.esg-marburg.de/wp-content/uploads/2018/05/Pixabay-laptop-3373638__340.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Startup</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                        </div>
                        <!-- <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find Out More!</a>
                        </div> -->
                    </div>
                </div>
            
                
            </div>
        </div>
    </section>
    <!-- /.row -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Fábrica de Gênios THE 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    

    <!-- Bootstrap core JavaScript -->
    <script src="{%static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{%static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</body>

</html>